<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>nodejs-express-mongodb-ejs-registration-and-login-form</title>
	<link rel="stylesheet" href="./css/card.css"> </head>

<body>
	<div class="wrapper">
		<article class="card hover line"> <img class="image" src="./image/user-picture.png" alt="">
			<h2 class="title">Name:- <%= name %></h2>
			<h2 class="text">Email:- <%= email %></h2> </article>
		<div class="abc"> <a href="/logout">Logout</a> </div>
	</div>
</body>

</html>